.reviews{
    &__container{
        padding-top: 24px;
    }
    &__header{
        margin-top: 30px;
        margin-bottom: 62px;
        font-weight: 500;
        font-size: 70.875px;
        line-height: 56px;
        color: #2E3831;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 99px;
    }
}
